[user]
	email = debord@anatoscope.com
	name = Adrien Debord
[push]
	default = current
	autoSetupRemote = true
[diff]
	tool = /usr/bin/code
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
